HOST_PORT=7788
NOVNC_HOST_PORT=6080
VNC_HOST_PORT=5901
CDP_HOST_PORT=9222
VNC_PASSWORD=youvncpassword
DEFAULT_LLM=openai
OPENAI_API_KEY=
OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
DEEPSEEK_API_KEY=
DEEPSEEK_ENDPOINT=
MISTRAL_API_KEY=
MISTRAL_ENDPOINT=
ALIBABA_API_KEY=
ALIBABA_ENDPOINT=
MOONSHOT_API_KEY=
MOONSHOT_ENDPOINT=
IBM_API_KEY=
IBM_ENDPOINT=
OLLAMA_BASE_URL=http://host.docker.internal:11434
USE_OWN_BROWSER=false
KEEP_BROWSER_OPEN=true
BROWSER_PATH=
BROWSER_USER_DATA=
BROWSER_CDP=
SKIP_LLM_API_KEY_VERIFICATION=false
