FASTCHAT_IMAGE=fastchat:latest
FASTCHAT_CONTROLLER_PORT=21001
FASTCHAT_WORKER_PORT=21002
FASTCHAT_API_PORT=8000
FASTCHAT_MODEL_PATH=lmsys/vicuna-7b-v1.5
FASTCHAT_WORKER_MODEL_NAMES=vicuna-7b-v1.5
FASTCHAT_DEVICE=cuda
FASTCHAT_NUM_GPUS=1
FASTCHAT_MAX_GPU_MEMORY=
FASTCHAT_LOAD_8BIT=false
FASTCHAT_CPU_OFFLOADING=false
FASTCHAT_TRUST_REMOTE_CODE=false
FASTCHAT_WORKER_API_TIMEOUT=300
FASTCHAT_VISIBLE_DEVICES=all
FASTCHAT_HF_TOKEN=
