HOST_PORT=7887
PORT=7865
RVC_PYTHON_CMD=python3
TEMP_ROOT=/opt/rvc/TEMP
OUTPUT_ROOT=/opt/rvc/opt
weight_root=/opt/rvc/assets/weights
weight_uvr5_root=/opt/rvc/assets/uvr5_weights
index_root=/opt/rvc/logs
outside_index_root=/opt/rvc/logs
