# CogVideoX Studio runtime configuration

HF_HOME=/root/.cache/huggingface
TRANSFORMERS_CACHE=/root/.cache/huggingface/transformers
GRADIO_SERVER_PORT=7860
GRADIO_SERVER_NAME=0.0.0.0
COGVIDEO_QUEUE_SIZE=15
HF_TOKEN=
OPENAI_API_KEY=
OPENAI_BASE_URL=
HF_HUB_DISABLE_PROGRESS_BARS=1
GRADIO_ANALYTICS_ENABLED=False
