APP_PORT=7869
PORT=7860
OUTPUT_DIR=/data/output
CHECKPOINT_DIR=/data/checkpoints
SAM_CHECKPOINT_URL=https://dl.fbaipublicfiles.com/segment_anything/sam_vit_h_4b8939.pth
SAM_CHECKPOINT_FILE=sam_vit_h_4b8939.pth
SAM_MODEL_TYPE=vit_h
GRADIO_ANALYTICS_ENABLED=False
