ATTU_PORT=3092
MILVUS_PORT=19531
MILVUS_HEALTH_PORT=9092
ETCD_CLIENT_PORT=23791
MINIO_PORT=9002
MINIO_CONSOLE_PORT=9003
MILVUS_IMAGE=milvusdb/milvus:v2.6.15
ETCD_IMAGE=quay.io/coreos/etcd:v3.5.5
MINIO_IMAGE=minio/minio:RELEASE.2023-03-20T20-16-18Z
ATTU_IMAGE=zilliz/attu:v3.0.0-beta.1
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=replace-with-a-strong-minio-secret
MINIO_BUCKET_NAME=milvus-bucket
ATTU_DB_PATH=/data/attu.db
MILVUS_NAME=DGX Spark Milvus
MILVUS_DATABASE=default
MILVUS_USERNAME=
MILVUS_PASSWORD=
OLLAMA_BASE_URL=http://host.docker.internal:11435
