JUPYTER_PORT=3095
JUPYTER_IMAGE=jupyter-ai-lab:local
JUPYTER_TOKEN=ChangeMe-JupyterToken123!
DOCKER_STACKS_JUPYTER_CMD=lab
OLLAMA_HOST=http://host.docker.internal:11435
OPENAI_API_BASE=http://host.docker.internal:11435/v1
OPENAI_API_KEY=ollama
JUPYTERLAB_SETTINGS_DIR=/home/jovyan/.jupyter/lab/user-settings
JUPYTERLAB_WORKSPACES_DIR=/home/jovyan/.jupyter/lab/workspaces
NOTEBOOK_ARGS=--ServerApp.allow_origin=*
