HOST=0.0.0.0
PORT=3080
MONGO_URI=mongodb://mongodb:27017/LibreChat
DOMAIN_CLIENT=http://localhost:3080
DOMAIN_SERVER=http://localhost:3080
ENDPOINTS=openAI,anthropic,google
NO_INDEX=true
TRUST_PROXY=1
CONFIG_PATH=

OPENAI_API_KEY=user_provided
ANTHROPIC_API_KEY=user_provided
GOOGLE_KEY=user_provided
ASSISTANTS_API_KEY=user_provided

MEILI_NO_ANALYTICS=true
MEILI_HOST=http://meilisearch:7700
MEILI_MASTER_KEY=change-me-librechat-meili

RAG_PORT=8000
RAG_API_URL=http://rag_api:8000
RAG_OPENAI_BASEURL=
EMBEDDINGS_MODEL=text-embedding-3-small

POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
DB_HOST=vectordb

ALLOW_REGISTRATION=true
ALLOW_EMAIL_LOGIN=true
ALLOW_UNVERIFIED_EMAIL_LOGIN=true
SESSION_EXPIRY=1000 * 60 * 15
REFRESH_TOKEN_EXPIRY=(1000 * 60 * 60 * 24) * 7
JWT_SECRET=change-me-librechat-jwt-secret
JWT_REFRESH_SECRET=change-me-librechat-jwt-refresh-secret
CREDS_KEY=change-me-librechat-creds-key
CREDS_IV=change-me-librechat-creds-iv
