COMFYUI_MANAGER_IMAGE=comfyui-manager-preset-pack:latest
COMFYUI_PORT=8188
CLI_ARGS=--listen 0.0.0.0 --port 8188 --enable-manager
GRADIO_ANALYTICS_ENABLED=False
COMFYUI_MANAGER_SECURITY_LEVEL=normal
COMFYUI_MANAGER_NETWORK_MODE=public
COMFYUI_MANAGER_FILE_LOGGING=True
COMFYUI_MANAGER_BYPASS_SSL=False
COMFYUI_MANAGER_USE_UV=False
COMFYUI_MANAGER_WINDOWS_SELECTOR_EVENT_LOOP_POLICY=False
GITHUB_ENDPOINT=
HF_ENDPOINT=
