OPEN_WEBUI_IMAGE=ghcr.io/open-webui/open-webui:main
QDRANT_IMAGE=qdrant/qdrant:latest

OPEN_WEBUI_PORT=3083
QDRANT_HTTP_PORT=6335
QDRANT_GRPC_HOST_PORT=6336

WEBUI_SECRET_KEY=change-this-openwebui-secret
OLLAMA_BASE_URL=http://host.docker.internal:11435
RAG_OLLAMA_BASE_URL=http://host.docker.internal:11435

VECTOR_DB=qdrant
QDRANT_URI=http://qdrant:6333
QDRANT_ON_DISK=true
QDRANT_PREFER_GRPC=false
QDRANT_GRPC_PORT=6334
QDRANT_TIMEOUT=5
QDRANT_COLLECTION_PREFIX=open-webui

RAG_EMBEDDING_ENGINE=
RAG_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
RAG_RERANKING_MODEL=
CONTENT_EXTRACTION_ENGINE=
HF_HUB_OFFLINE=0
