IMAGE_TAG=latest
AUTH_TYPE=basic
USER_AUTH_SECRET=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=relational_db
VESPA_HOST=index
REDIS_HOST=cache
MODEL_SERVER_HOST=inference_model_server
INDEXING_MODEL_SERVER_HOST=indexing_model_server
INTERNAL_URL=http://api_server:8080
FILE_STORE_BACKEND=s3
COMPOSE_PROFILES=s3-filestore
OPENSEARCH_FOR_ONYX_ENABLED=true
OPENSEARCH_ADMIN_PASSWORD=
S3_ENDPOINT_URL=http://minio:9000
S3_AWS_ACCESS_KEY_ID=minioadmin
S3_AWS_SECRET_ACCESS_KEY=
S3_FILE_STORE_BUCKET_NAME=onyx-file-store-bucket
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=
LOG_LEVEL=info
LLM_SOCKET_READ_TIMEOUT=300
