# HunyuanVideo runtime configuration

MODEL_BASE=/opt/HunyuanVideo/ckpts
HF_HOME=/root/.cache/huggingface
SERVER_NAME=0.0.0.0
SERVER_PORT=8081
HUNYUAN_USE_CPU_OFFLOAD=1
HUNYUAN_EXTRA_ARGS=
GRADIO_ANALYTICS_ENABLED=False
HF_HUB_DISABLE_PROGRESS_BARS=1
