INFINITY_IMAGE=michaelf34/infinity:latest
INFINITY_PORT=7997
INFINITY_HOST=0.0.0.0
INFINITY_URL_PREFIX=/v1
INFINITY_MODEL_ID=BAAI/bge-small-en-v1.5
INFINITY_MODEL_ID_2=
INFINITY_REVISION=
INFINITY_API_KEY=
INFINITY_ENGINE=torch
INFINITY_DTYPE=auto
INFINITY_EMBEDDING_DTYPE=float32
INFINITY_BATCH_SIZE=32
INFINITY_BATCH_DELAY=0
INFINITY_BETTERTRANSFORMER=false
INFINITY_LENGTHS_VIA_TOKENIZE=false
INFINITY_MODEL_WARMUP=true
INFINITY_ATTN_IMPLEMENTATION=
INFINITY_DEVICE=cuda
INFINITY_VECTOR_DISK_CACHE_PATH=
INFINITY_PRELOAD_ONLY=false
INFINITY_PERMISSIVE_CORS=false
INFINITY_DISABLE_AUTH=false
INFINITY_JSON_LOGS=false
INFINITY_LOG_LEVEL=info
INFINITY_NO_TELEMETRY=true
INFINITY_POOL_TIMEOUT=120
INFINITY_MAX_CLIENT_BATCH_SIZE=
INFINITY_MAX_INPUT_LENGTH=
INFINITY_MAX_WORKERS=1
HF_HOME=/app/.cache
HF_TOKEN=
