# Grounded SAM Workstation runtime configuration

APP_PORT=7589
GRADIO_SERVER_PORT=7589
HF_HOME=/data/hf-home
HUGGINGFACE_HUB_CACHE=/data/hf-home
GRADIO_ANALYTICS_ENABLED=False
HF_HUB_DISABLE_PROGRESS_BARS=1
GROUNDINGDINO_CHECKPOINT_URL=https://github.com/IDEA-Research/GroundingDINO/releases/download/v0.1.0-alpha/groundingdino_swint_ogc.pth
SAM_CHECKPOINT_URL=https://dl.fbaipublicfiles.com/segment_anything/sam_vit_h_4b8939.pth
GROUNDING_SAM_EXTRA_ARGS=
