SEARXNG_HOST_PORT=8080
SEARXNG_IMAGE=docker.io/searxng/searxng:latest
REDIS_IMAGE=redis:7-alpine
SEARXNG_BASE_URL=http://localhost:8080/
INSTANCE_NAME=NVIDIA AI Hub SearXNG
UWSGI_WORKERS=2
UWSGI_THREADS=4
FORCE_OWNERSHIP=true
